@import '/src/styles/style.scss';

.dashboard-header {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  height: fit-content;

  .say-hi {
    align-items: center;
    display: flex;
    flex-direction: row;

    p {
      padding: 0;
      margin: 0;
      font-size: 20px;
      color: #000;
    }

    h3 {
      margin: 0;
      padding: 0;
      margin-inline-start: 5px;
      font-size: 25px;
    }
  }

  .message {
    padding: 0;
    margin: 0;
    margin-block-start: 7.5px;
    font-size: 14px;
    color: #606060;
  }
}