@import '/src/styles/style.scss';



.view-detail-dialog {

  background-color: $background-color;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;

  .map-layout {
    display: flex;
    height: 500px;
    width: 100%;
    flex: 1;
  }


  .close-button {
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    background-color: $background-color;
    margin: 20px;
    height: 40px;
    border-radius: 200px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .res-info-contain {
    display: flex;
    flex: 1;
    padding: 20px;
    flex-direction: column;

    .res-name {
      font-size: 2rem;
      color: $textPrimaryColor;
      font-family: $Medium;
    }

    .cuisines {
      margin: 0;
      font-size: 1rem;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .others-info {
      margin: 0;
      color: $textSecondaryColor;
      margin-top: 5px;

    }

    .line {
      height: 1px;
      width: 100%;
      background-color: #d3d3d3;
    }

    .info-item {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;

      .title {
        margin-inline-start: 20px;
        margin-inline-end: 10px;
        font-size: 1.1rem;
        color: $textPrimaryColor;
        font-family: $Medium;
      }
    }

    .MuiAccordion-root {
      border-radius: 0;
      background-color: $white;
      box-shadow: 0px 0px 0px 0px;
      padding: 0;
      padding-top: 5px;
      padding-bottom: 5px;

      .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
        padding: 0;
      }

      .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-disabled {
        opacity: 1;
      }
    }
  }

  .shedule-item {
    margin-inline-start: 40px;

    .days-of-week {
      font-size: 1.1rem;
      font-weight: $Medium;
    }

    .period-item {
      margin: 0;
      margin-top: 5px;
    }
  }
}